/**
 * gsun2016
 * Tw
 */


.main-header {
  display: block;
  height: $header-h;
  color: white;
}

.header-bar {
  height: $header-h;
  background-color: white;
  width: 100%;
  position: absolute;
  z-index: 99;
  border-bottom: 1px solid rgba(grey, 0.5);

  &__title {
    margin: 0;
    line-height: $header-h;
    vertical-align: middle;
    margin-left: 40px;
    font-size: 3.2rem;
    display: inline-block;

    a {
      padding: 0 15px;
      margin-left: -15px;
      color: black;
      display: inline-block;
      margin-right: 5px;
    }
  }

  &__icon {
    margin-left: 10px;
    // margin-right: 10px;
    width: $normal-icon-w;
    height: $normal-icon-w;
    display: inline-block;
    background-color: #A2C11C;
    border-radius: 100%;
    overflow: hidden;
    vertical-align: middle;

    img {
      width: 100%;
    }
  }

  &__control-wrapper {
    $spacing: 2rem;

    float: right;
    display: inline-block;
    height: $header-h;
    line-height: $header-h;
    margin-right: $spacing;

    &:after {
      content: '';
      clear: right;
      display: block;
    }

    a {
      padding: 0 $spacing;
      color: grey;
      display: inline-block;
      vertical-align: middle;
      line-height: $header-h;
      text-align: center;
      min-width: 65px;
      display: inline-block;

      &:last-child {
        margin-right: -$spacing;
      }

      &._active {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
