/**
 * gsun2016
 * tw
 */

.appearin-iframe {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 9999;
  background-color: rgba(gray, 0.5);
  position: absolute;
  padding: 0;
  transition: all 0.3s;

  &__wrapper {
    background-color: whitesmoke;
    height: 100%;
    overflow: hidden;
  }

  &__create-room {
    display: block;
    height: 100%;
    width: 100%;
  }
  &__content {
    display: none;
    height: 100%;
    width: 100%;
  }

  &__control-wrapper {
    top: 0;
    right: 0;
    position: absolute;
    padding: 4px;
    display: none;

    button,
    .button {
      color: white;
      padding: 0;
      line-height: 20px;
      font-size: 2rem;
      height: 22px;
      margin-right: 4px;
      margin-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__left {}
    &__full {}
    &__min {}
  }

  &._active {
    .appearin-iframe__create-room {
      display: none;
    }
    .appearin-iframe__content {
      display: block;
    }
    .appearin-iframe__control-wrapper {
      display: block;
    }
  }

  &--left {

    // default is left mode
    .appearin-iframe__control-wrapper__left {
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &--full {
    // padding: 0.5*$gutter;
    position: fixed;

    .appearin-iframe__control-wrapper__left {
      display: inline-block;
    }
    .appearin-iframe__control-wrapper__full {
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &--min {
    height: 250px;
    top: auto;
    padding: 0;

    .appearin-iframe__control-wrapper__left {
      display: inline-block;
    }
    .appearin-iframe__control-wrapper__min {
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

.button--add-room {
  display: block;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border: none;
  position: relative;
  padding: 0;

  &__m-wrapper {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    i {
      display: block;
    }
  }

  &:hover {
    background-color: #C8E29D;
  }
}
