/**
 *
 */

.count-down {
  &-col {
    display: inline-block;
    margin-right: 0.5*$gutter;
  }

  .is-day,
  .is-hour {
    display: none;
  }

  .is-day,
  .is-hour,
  .is-min,
  .is-seg {
    strong {
      margin-right: 0.5*$gutter;
    }
  }
}

.count-down-section {
  padding: $gutter;

  p {
    margin-bottom: 0;
    margin-bottom: 1rem;
  }

  button,
  .button {
    width: 100%;
    margin-bottom: 1rem;
  }
}
