/**
 *
 */

// $content-color: #E84A5F;
// $content-color-02: #FECEA8;
$content-color: $c-08;
$content-color-02: $c-08;
$cowndown-color: lighten($c-08, 20%);
$fb-color: #007CB9;
$fb-light-color: #D5EEFF;

.count-down-section {
  padding: 0.5*$gutter;

  p {
    margin-bottom: 1rem;
  }

  button,
  .button {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 3rem;
    height: 50px;
    line-height: 50px;
    margin-top: 2rem;
    // font-size: 14px;
  }

  &__info {
    margin-top: $gutter;
  }

  .__btn-join {
    background-color: $content-color;
    border-color: $content-color;
    color: whitesmoke;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($content-color, 5%);
      border-color: darken($content-color, 15%);
    }
  }

  .__facebook {
    background-color: $fb-color;
    border-color: $fb-color;
    color: white;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($fb-color, 5%);
      border-color: darken($fb-color, 15%);
    }
  }

  .__btn-joined {
    border: 1px dotted $content-color;
    color: $content-color;
  }

  .__btn-to-appear {
    border: 2px dotted $content-color;
    color: $content-color;
    font-size: 14px;
  }

  .__btn-test,
  .__btn-link {
    color: $content-color;
    display: block;
    text-decoration: none;
    padding: 1rem 0;

    &:hover {
      color: darken($content-color, 15%);
    }
  }
}

.count-down {
  border: 1px solid $cowndown-color;
  padding: 0.5*$gutter;
  border-radius: 4px;
  color: $cowndown-color;

  &__helper {
    font-size: 1.4rem;
    text-align: center;
  }
}

.count-down__clock {
  font-size: 3rem;
  text-align: center;

  &-col {
    display: inline-block;
    margin-right: 0.5*$gutter;
  }

  .is-day,
  .is-hour {
    display: none;
  }

  .is-day,
  .is-hour,
  .is-min,
  .is-seg {
    strong {
      margin-right: 0.5*$gutter;
    }
  }
}
