/**
 * gsun2016
 * Tw
 */


.main-header {
  display: block;
  height: $header-h;
  color: white;
}

.header-bar {
  height: $header-h;
  background-color: white;
  width: 100%;
  position: absolute;
  z-index: 99;
  border-bottom: 1px solid rgba(grey, 0.5);

  &__title {
    margin: 0;
    line-height: $header-h;
    vertical-align: middle;
    margin-left: $gutter;
    font-size: 3.2rem;
    display: inline-block;
  }

  &__icon {
    margin-left: 10px;
    margin-right: 10px;
    width: $normal-icon-w;
    height: $normal-icon-w;
    display: inline-block;
    background-color: #A2C11C;
    border-radius: $normal-border-radius;
    overflow: hidden;
    vertical-align: middle;
  }

  &__control-wrapper {
    float: right;
    display: inline-block;
    font-size: 3.2rem;
    margin-right: $gutter;

    a {
      padding: 0 10px;
      color: grey;
      display: inline-block;
      vertical-align: middle;
      line-height: $header-h;

      &:last-child {
        margin-right: -10px;
      }
    }
  }
}
