/**
 *
 */

.goingmerry-bg {
  background-image: url('http://goingsunny.com/goingmerry-bg2.jpg');
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 0;

  &:after {
    background-color: rgba(gray, 0.3);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.middle-wrapper {
  position: absolute;
  color: #283739;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  button {
    display: block;
    width: 240px;
    color: white;
  }
}

.login-title {
  font-size: 2rem;
}
