/**
 * gsun2016
 * tw
 */


.room-panel {
  background-color: lighten(whitesmoke, 2%);
  height: 100%;
  position: relative;
  width: 330px;
  // flex: 1;

  &__wrapper {
    padding: 0.5*$gutter;

    h6 {
      margin-bottom: 0.5*$gutter;
      font-size: 1.8rem;
    }
  }

  &__videos,
  &__users {
    margin-bottom: $gutter;
  }
}

.people-list {
  margin-bottom: 0.5*$gutter;
}

.people-item {
  $icon-w: 35px;
  display: inline-block;
  width: $icon-w;
  height: $icon-w;
  background-color: pink;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 0;

  img {
    width: 100%;
  }
}
