/**
 *
 */

$offset-left: 20px;

.main-area {
  flex-direction: column;
}

.room-panel {
  width: 100%;
  overflow: inherit;
  padding-bottom: 0;
}

.main-content {
  width: 100%;
  height: auto;
  min-height: auto;
}

.header-bar {
  $control-w: 120px;

  &__title {
    margin-left: $offset-left;
    font-size: 2.5rem;
    display: block;
    padding-right: $control-w;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
      padding: 0 10px;
      margin-left: -10px;
      margin-right: 0;
    }
  }

  &__control-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.lesson-section {
  padding-left: $offset-left;

  iframe {
    margin-left: -$offset-left;
    margin-right: -$offset-left;
    min-width: 320px !important;
    height: 180px !important;
    position: relative;
    left: 0;
    right: 0;
  }
}

.message-item {
  &__icon {
    left: 20px;
  }
  &__wrapper {
    margin-left: 70px;
  }
}

.room-panel {
  &__wrapper {
    padding: 2rem;
  }

  .appearin-iframe {
    display: none !important;
  }
}

.count-down-section {
  padding: 0;

  p {
    text-align: center;
  }

  button,
  .button,
  .button-primary {
    margin-top: 0.5*$gutter;
    margin-bottom: 0.5*$gutter;
  }

  .__btn-test,
  .__btn-link {
    margin: 0;
    padding: 0.5rem 0;
  }

  .button-link {
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.notification-p {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  &__content {
    border-radius: 0;
  }
}

.wave-wrapper {
  &__close {
    position: absolute;
    top: 0.5*$gutter;
    right: 0.5*$gutter;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.user-next-session {
  margin-top: 1rem;

  &__title {
    margin-bottom: 0;
  }

  .people-list {
    line-height: 12px;
  }

  .people-item {
    margin-top: 2px;
  }
}
